body {
    background-color: #6e00ff;
    font-family: 'Poppins', sans-serif;
}

#cta-btn {
    display: block;
    margin: 0 auto;
    max-width: 350px;
    height: 100vh;
    align-self: center;
}

#cta-btn-text,
.outline {
    cursor: pointer;
}

#shadow g path {
    fill: #5200c3;
}
